@import "prebase";

.loginbtn{
  text-decoration:none;
  padding: $padding;
  // background: $alpha;
  // border-radius: 20px;
  float: right;
  clear:both;
}
.login--header{
  display: inline;
  @include center;
}
#login{
  width: 15%;
  background-size: 20%;
}
label{
  display: block;
  text-align: center;
}
fieldset{
  border: 0 none;
  padding: $padding;
  background-color: rgba($bravo,0.5);
}
textarea{
  @include center;
}

input{
  line-height: 18px;
  margin-bottom: .5%;
  @include center;
}
