$padding: 2%;
@import "colors";
@import "mixen";
// h1, h2{
//   @include center;
//   text-align: center;
//   font-size: 2em;
// }
h1{
  font-size: 3em;
  color:darken($fontcolor, 5%);
}
h2{
  // border-radius: 20px;
  background: $alpha;
}
p{
  margin: 0 $padding;
  padding-left: $padding;
  padding-right: $padding;
  text-align: center;
  font-size: 2.5em;
  color: $fontcolor;
  // background-color: $alpha;
}
// header input{
//   margin-left: 95%;
// }
header h1{
  text-align: left;
}
header{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: $bravo;
  padding-left: 1%;
}
button{
  @include center;
  margin-top: 1%;
  width: 11%;
}
a{
  font-size: 2em;
  text-decoration: none;
}
a:visited{
  text-decoration: none;
  color:$fontcolor;
}
body{
  background-color: $alpha;
}
footer{
  margin-top: 20%;
}
footer p{
  font-size: 1em;
}

section{
  padding:$padding 0;
  background-color: $charlie;
  margin: 1%;

}
#mainHead{
  @include center;
}
